@charset "utf-8";

.album_cont{position:relative; background: url("../../common/images/bg_voicealbum.png") 50% 50% no-repeat ;background-size: cover;}

.album_logo { margin: 0 auto 23px; overflow: hidden; width: 1220px; padding: 85px 0 0;}
.album_logo img{float: left;margin:0 20px 0 350px;width:190px;}
.album_logo .title {float:left;}
.album_logo .title h1{height: 84px;line-height: 84px; font-size:56px;font-weight: 500;letter-spacing: -1.4px;color:#fff;}
.album_logo .title h1 span {font-family: 'Lato';font-weight:700;font-style: italic;}
.album_logo .title strong {display:block;font-family: Georgia,Times,Times New Roman,serif; font-style:italic;letter-spacing: -0.5px;color:#fff;font-weight:300; font-size:26px; background: rgba(255,255,255,0.2);height: 44px; padding: 7px 25px; border-radius: 7px; line-height: 44px; text-align: center;}
.album_logo p { letter-spacing: -1.17px;font-size:35px;display: block;width:300px;background: rgba(255,255,255,0.2);color:#fff;}

.desc_txt {clear: both; font-size: 22px; color: #ffffff; text-align: center; font-weight: 100; height: 41px; line-height: 41px; margin: 0 0 20px 0;}
.desc_txt strong{font-weight: 500;height: 41px; line-height: 41px;margin: 0 0 37px 0;}

.text_box { background: rgba(20,21,49,0.4) url(../../common/images/bg_quote.png) 50% 50% no-repeat; height: 188px; text-align: center; background-size: 645px;}
.text_box p {color: #fff; padding: 46px 0; letter-spacing: -0.73px; font-size: 18px; font-weight: 100; line-height: 32px; text-shadow: 0 1px 2px rgba(64, 64, 64, 0.5);}
.text_box p strong {font-weight:500;}

.service_box {margin:40px 0 0 0;text-align: center;}
.service_box p {font-size: 20px; color: #fff; height: 37px; line-height: 37px;  margin: 0 0 32px 0;}
.service_box p.contacttit {display: inline-block; height: 52px; padding: 0 25px; line-height: 52px; border-radius: 5px; box-shadow: 1px 2px 2px 0 rgba(11, 17, 32, 0.2); background-color: #7d71d1; margin: 0 auto 40px; color: #fff; font-size: 17px; font-weight: 400; letter-spacing: -0.28px; cursor: pointer;}
.service_box ul {width:800px;margin:0 auto;height:260px;counter-reset: step;}
.service_box ul li{position:relative;  float:left; width: 245px;height: 260px;margin:0 27px 0 0; padding:47px 34px 0;color: #2c3f51;font-size: 16px;font-weight: 500;line-height: 1.44;letter-spacing: -0.2px; border-radius: 5px;box-sizing: border-box;box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1); border: solid 1px #cfd5eb;background-color: #ffffff;}
.service_box ul li:first-child {background: #fff url("../../common/images/ico_va_step1.svg") 50% 112px no-repeat ;}
.service_box ul li:first-child:after, .service_box ul li:nth-child(2):after {content:'' ; width:14px;height:36px; position:absolute; right: -23px; top: 112px; background:  url("../../common/images/path_step.svg") 50% 50% no-repeat ;}
.service_box ul li:nth-child(2) {background: #fff url("../../common/images/ico_va_step2.svg") 50% 122px no-repeat ;}
.service_box ul li:last-child{margin:0;background:#fff  url("../../common/images/ico_va_step3.svg") 50% 119px no-repeat ;}
.service_box ul li:before { counter-increment: step;content: counter(step);background:#7d71d1;display:block;width:35px;height:35px;border-radius: 35px;color:#fff;font-size:15px;text-align: center;top:-15px;left:50%;position: absolute; line-height: 35px; font-weight: 500; margin: 0 -17px 0; }

.service_box .contactbox { background:rgba(125,113,209,0.75);height:80px;padding:21px 0;box-sizing:border-box;}
.service_box .contactbox .contact{width:800px; margin:0 auto; height: 100%;}
.service_box .contactbox .contact a {box-sizing: border-box;float:left;width:50%;;display: block; height: 100%;color:#fff;font-size:20px; z-index: 10; line-height: 38px;letter-spacing: 1px;font-weight:300;}
.service_box .contactbox .contact a:first-child { border-right:1px dotted #fff;background: url("../../common/images/ico_phone.svg") 172px 50% no-repeat ;text-align: right; padding: 0 77px 0 0;}
.service_box .contactbox .contact a:last-child { background: url("../../common/images/ico_email.svg") 74px 50% no-repeat ;text-align: left;text-indent:122px;letter-spacing: 0;}
.service_box:nth-child(2) p {margin:0 0 12px 0;}
.album_footer {height:124px;background-color: #192a39;}
.album_footer .footer_area {width: 1220px;margin:0 auto;}
.album_footer .footer_area p{padding: 38px 0 0;color: #fff;font-size: 15px;letter-spacing: -0.12px;font-weight: 300;}
.album_footer .footer_area p a { display: inline-block;height: 57px; line-height: 57px;}
.album_footer .footer_area p a img {margin: 0 83px 0 0;}
.album_footer .footer_area p span a {color:#fff;margin:0 0 0 67px; border-right:none;}

.album_contact .popWrap {width:600px;margin: 300px auto;}
.album_contact .popWrap .ico_close {float:right; color: #2c3f51;opacity: 0.5;margin:10px 15px 0 0;font-size:15px; cursor: pointer;transition:all 0.3s ease-out;}
.album_contact .popWrap .ico_close:hover {opacity: 1;transition:all 0.3s ease-out;}
.album_contact .pop_bd {padding:0;}
.album_contact .pop_bd h1 {font-size:22px; line-height: 1.91; letter-spacing: -0.73px; text-align: center; color: #7d71d1;font-weight:400;}
.album_contact .pop_bd h1 strong {font-weight:bold;}
.album_contact .pop_bd p{padding:0; font-size:14px; letter-spacing: -0.47px; text-align: center;color: #515a68;margin: 0 0 11px 0;}
.album_contact .pop_bd .contact_info {width:100%; height:41px;  background-color: #7d71d1;}
.album_contact .pop_bd .contact_info span{position:relative; float:left;width:283px; height:100%;font-family: 'Lato';font-size: 15px;color:#fff;line-height: 25px;letter-spacing: 0.68px;padding: 8px 41px 8px 0;box-sizing: border-box; background: url(../../common/images/ico_phone.svg) 135px 50% no-repeat;background-size: 19px;text-align: right;}
.album_contact .pop_bd .contact_info span:first-child:after {content:'';position:absolute; right:0; top:8px; width:1px; height:25px;border-right:1px dotted #fff;opacity: 0.6;}
.album_contact .pop_bd .contact_info span:nth-child(2){ background: url("../../common/images/ico_email.svg") 46px 50% no-repeat ;text-align: left;text-indent:72px;letter-spacing: 0;background-size: 18px;}
.album_contact .pop_bd .contact_form {width: 100%;padding:20px 52px 30px;background-color: #f3f5fb; box-sizing: border-box;}
.album_contact .pop_bd .inquiry_box {overflow: hidden;width:100%;}
.album_contact .pop_bd .inquiry_box > div {position: relative; text-align: left;}
.album_contact .pop_bd .inquiry_box input,
.album_contact .pop_bd .inquiry_box textarea {display: block; float: left; width: 100%; height: 38px; padding: 0 10px; border-radius: 3px; border: solid 1px #cfd5eb; box-sizing: border-box; color: #2c3f51; background: #fff; font-size: 14px;}
.album_contact .pop_bd .inquiry_box label {display: block; position: absolute; left: 10px; color: #697992; font-size: 12px; opacity: 0.8;}
.album_contact .pop_bd .inquiry_box label span {margin: 0 5px 0 0;}
.album_contact .pop_bd .inquiry_box input:focus + label {visibility: hidden;}
.album_contact .pop_bd .inquiry_box .my_info {float: left; width: 160px; height: 38px; margin: 0 0 13px 0;}
.album_contact .pop_bd .inquiry_box .my_info label {top: 10px;}
.album_contact .pop_bd .inquiry_box .my_info + .my_info {margin: 0 0 13px 8px;}
.album_contact .pop_bd .inquiry_box .my_txt {clear: both; width: 100%; height: 98px;}
.album_contact .pop_bd .inquiry_box .my_txt textarea {display: block; width: 100%; height: 100%; padding: 12px 10px 10px 10px;}
.album_contact .pop_bd .inquiry_box .my_txt label {top: 12px;}
.album_contact .pop_bd .inquiry_box .my_txt textarea:focus + label {visibility: hidden;}
.album_contact .pop_bd .inquiry_box .btn_inquiry { font-size: 14px; font-weight: 400;  letter-spacing: -0.22px; margin: 20px auto 0; padding:10px 30px;border-radius: 5px;color:#fff; background-color: #7d71d1;}

/* Mobile Layout */
@media screen and (max-width:760px) {
    .album_logo{width:100%; text-align: center; padding: 30px 0 0;margin: 0 auto 20px;}
    .album_logo img {float: unset;margin:0 auto;width: 33%; padding: 10px 20px;}
    .album_logo .title {float: unset;margin:0;}
    .album_logo .title h1 {font-size: 40px; line-height: 53px; height: 53px;}
    .album_logo .title strong {font-size: 21px; width: 65%;line-height: 34px;height: 34px;float: unset; margin: 0 auto;}
    .desc_txt {font-size: 13px;line-height:25px; padding: 0 10px;}
    .desc_txt strong {line-height: 25px;}

    .text_box{background-size: 95%;height:auto;}
    .text_box p {font-size:12px; padding: 40px 0;line-height: 18px;}

    .service_box {margin:30px 0 0 0;}
    .service_box p {font-size:18px;}
    .service_box p.contacttit {font-size:16px;}
    .service_box ul {width:100%;height: auto;}
    .service_box ul li {width:65%;margin:0 auto 20px;float:unset; font-size: 15px;}
    .service_box ul li:last-child {margin:0 auto;}
    .service_box ul li:first-child:after, .service_box ul li:nth-child(2):after {display:none; }
    .service_box .contactbox .contact {width:100%;}
    .service_box .contactbox .contact a {font-size:15px;text-align: left;padding:0 0 0 38px;}
    .service_box .contactbox .contact a:first-child { background: none;padding: 0; text-align: center;}
    .service_box .contactbox .contact a:last-child { background: none;text-indent: 0;padding: 0;text-align: center;}

    .album_footer { height: 173px;}
    .album_footer .footer_area{width:100%;}
    .album_footer .footer_area p .footerlogo{display: none;}
    .album_footer .footer_area p {    padding: 20px 10px;font-size: 11px;}
    /*.album_footer .footer_area p span {display: block;}*/
    .album_footer .footer_area p span a {margin: 0 ;height:auto;line-height: 20px;}
    .album_footer .footer_area p a img {margin: 0 20px 0 0; width: 100px;}

    .album_contact .popWrap {width:90%;margin: 73px auto;}
    .album_contact .pop_bd h1 {font-size:19px;}
    .album_contact .pop_bd p{font-size: 11px;padding: 0 10px; width: calc(100% - 20px);}
    .album_contact .pop_bd .contact_info span {width:50%;background: url(../../common/images/ico_phone.svg) 10% 50% no-repeat;background-size: 15px;font-size: 12px;text-align: center;padding: 8px 0;}
    .album_contact .pop_bd .contact_info span:nth-child(2) {background: url(../../common/images/ico_email.svg) 5px 50% no-repeat;background-size: 15px;text-indent:0;font-size: 12px;text-align: center; padding: 8px 0;}

    .album_contact .pop_bd .contact_form {padding:20px;}
    .album_contact .pop_bd .inquiry_box .my_info {width:calc(33.3% - 4px);}
    .album_contact .pop_bd .inquiry_box .my_info + .my_info {margin: 0 0 13px 6px;}






}